.header{
  text-align: center;
  color: aliceblue;
}

#colorboard{
  width: auto;
  height: 500px;
  margin-left: 10px;
  margin-right: 10px;
}

.rgbValues{
  color: aliceblue;
  margin-left: 10px;
}

.randombtn{
  margin-left: 10px;
}

form{
  margin-right: 10px;
}

.inputfld{
  color: aliceblue;
  display:flex;
  align-items: center;
  margin-left: 10px;
}


input{
  border-radius: 7px;
  width: 70px;
  margin-right: 10px;
}

#red{
  color: red;
}

#green{
  color: limegreen;
}

#blue{
  color: deepskyblue;
}

#rangeRed{
  accent-color: red;
}

#rangeGreen{
  accent-color: limegreen;
}

#rangeBlue{
  accent-color: deepskyblue;
}

@media only screen and (max-width: 590px) {
  input{
    width: 35px;
    margin-right: 5px;
  }

  .getColor{
    width: 75px;
  }

  .inputfld{
    display: grid;
   place-items: center;
   margin-bottom: 10px;
  }
}


