.header{
  text-align: center;
  color: aliceblue;
}

#colorboard{
  width: auto;
  height: 500px;
  margin-left: 10px;
  margin-right: 10px;
}

.rgbValues{
  color: aliceblue;
  margin-left: 10px;
}

.randombtn{
  margin-left: 10px;
}

form{
  margin-right: 10px;
}

.inputfld{
  color: aliceblue;
  display:flex;
  align-items: center;
  justify-content: center;
}


input{
  border-radius: 7px;
  width: 70px;
  margin-right: 10px;
}

@media only screen and (max-width: 570px) {
  body {
    margin-left:auto;
    margin-right:auto;
    width: 570px;
  }

  form{
    margin-left:auto;
    margin-right:auto;
  }
}
