.header{
  text-align: center;
  color: aliceblue;
}

#colorboard{
  width: auto;
  height: 500px;
  margin-left: 10px;
  margin-right: 10px;
}

.rgbValues{
  color: aliceblue;
  margin-left: 10px;
}

.randombtn{
  margin-left: 10px;
  margin-bottom: 10px;
}
